<div class="bb-component pb-0">
    <div class="container-xxl bd-gutter">
        <div class="row">
            <div class="col-sm-12 landing-head">
                <h1>Components</h1>
                <p class="mt-4 mb-0">Components are the reusable building blocks of our design system. Each component meets a specific interaction or UI need, and has been specifically created to work together to create patterns and intuitive user experiences.</p>
            </div>
        </div>
    </div>
    <div class="comp-box-sec">

   
        <div class="container-xxl bd-gutter">
            <div class="row">
                <div class="comp-sec">
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/buttons/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-buttons"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Buttons</strong>
                        <p>A button triggers an event or action. They let users know what will happen next.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/carousel/"class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-carousel"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Carousel</strong>
                        <p>A slideshow component for cycling through elements—images or slides of text—like a carousel.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/accordion/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-listgroup"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Accordion</strong>
                        <p>An accordion is a design element that expands in place to expose some hidden information.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/modal/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-modal"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Modal</strong>
                        <p>A modal is a web page element that displays in front of and deactivates all other page content.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/card/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-cards"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Cards</strong>
                        <p>A card is a UI design pattern that groups related information in a flexible-size container visually resembling a playing card.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/pagination/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-pagination"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Pagination</strong>
                        <p>Pagination allows you to divide large amounts of content into smaller chunks across multiple pages.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/progress/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-progress"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Progress Bar</strong>
                        <p>A progress bar is a graphical control element used to visualize the progression of an extended computer operation.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/side-panel/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-sidepanel"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Side panel</strong>
                        <p>Side Panels are containers that anchor to the left or right side of the screen.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/list-group/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-listgroup"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>List group</strong>
                        <p>Lists are vertical groupings of related content. List items begin with either a number or a bullet.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/tables/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-table"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Table</strong>
                        <p>Data tables are used to organize and display data efficiently.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/form/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-forms"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Forms</strong>
                        <p>A form consists of a group of related fields and allows users to input information.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/slider/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-slider"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Slider</strong>
                        <p>Sliders allow users to make selections from a range of values.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/tabs/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-tabs"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Tabs</strong>
                        <p>Tabs are used to organize related content.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/toasts/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-toast"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Toast</strong>
                        <p>A toast provides simple feedback about an operation in a small popup.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-navigation"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Navigation</strong>
                        <p>Navigation drawers provide access to destinations in your app.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                    <a href="/docs/{{ .Site.Params.docs_version }}/components/breadcrumb/" class="box">
                        <div class="head-icon">
                            <span class="icon bb-icon-c-tabs"></span>
                            <!-- <span class="icon-outline-arrow-nav-right icons"></span> -->
                        </div>
                        <strong>Breadcrumb</strong>
                        <p>A toast provides simple feedback about an operation in a small popup.</p>
                        <div class="btn-action">
                            <span>View More</span>
                            <i class="icon bb-icon-arrow rarrow"></i>
                          </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>