<div class="bb-colors icons-page pb-0">
    <div class="container-xxl bd-gutter">
        <div class="row">
            <div class="col-sm-12 landing-head">
                <h1>Icon</h1>
                <p class="mt-4 mb-0">An icon is a visual representation of a command, device, directory, or common action.</p>
            </div>
        </div>
    </div>
    <div class="comp-box-sec">

   
        <div class="container-xxl bd-gutter">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="color-heading">1. Icon</div>
                    <div class="color-inner">
                        <div class="color-subheading">Outline Icons</div>
                        <div class="color-sec">
                            <div class="box">
                                <span class="icon-outline-extend">
                                <p>extend</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-export">
                                <p>export</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-export-to-PDF">
                                <p>export-to-PDF</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-export-to-mail">
                                <p>export-to-mail</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-export-to-excel">
                                <p>export-to-excel</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-expand">
                                <p>expand</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-emailbox">
                                <p>emailbox</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-edit">
                                <p>edit</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-download">
                                <p>download</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-delete">
                                <p>delete</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-copy">
                                <p>copy</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-continue">
                                <p>continue</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-collapse">
                                <p>collapse</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-clone">
                                <p>clone</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-check-list">
                                <p>check-list</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-cancel">
                                <p>cancel</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-calendar">
                                <p>calendar</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-auto-save">
                                <p>auto-save</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-attachment">
                                <p>attachment</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-top">
                                <p>arrow-top</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-right">
                                <p>arrow-right</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-nav-top">
                                <p>arrow-nav-top</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-nav-right">
                                <p>arrow-nav-right</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-nav-left">
                                <p>arrow-nav-left</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-nav-bottom">
                                <p>arrow-nav-bottom</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-left">
                                <p>arrow-left</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-arrow-bottom">
                                <p>arrow-bottom</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-archive">
                                <p>archive</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-approve">
                                <p>approve</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-add">
                                <p>add</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-info">
                                <p>approve</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-zoomout">
                                <p>zoomout</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-zoomin">
                                <p>zoomin</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-view">
                                <p>view</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-userguide">
                                <p>userguide</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-user">
                                <p>user</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-upload">
                                <p>upload</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-update">
                                <p>update</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-unlock">
                                <p>unlock</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-transfer">
                                <p>transfer</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-timeclock">
                                <p>timeclock</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-tick">
                                <p>tick</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-three-dot-v">
                                <p>three-dot-v</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-three-dot-h">
                                <p>three-dot-h</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-table">
                                <p>table</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-startsrating">
                                <p>startsrating</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-star">
                                <p>star</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-sort">
                                <p>sort</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-showall">
                                <p>showall</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-share">
                                <p>share</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-setting">
                                <p>setting</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-searchoptions">
                                <p>searchoptions</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-search">
                                <p>search</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-save">
                                <p>save</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-revoke">
                                <p>revoke</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-reply">
                                <p>reply</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-remarks">
                                <p>remarks</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-reject">
                                <p>reject</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-refresh">
                                <p>refresh</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-referback">
                                <p>referback</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-quicklinks">
                                <p>quicklinks</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-profile">
                                <p>profile</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-process">
                                <p>process</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-previous">
                                <p>previous</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-preview">
                                <p>preview</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-poor">
                                <p>poor</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-plus">
                                <p>plus</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-phone">
                                <p>phone</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-paste">
                                <p>paste</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-options">
                                <p>options</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-notification">
                                <p>notification</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-nice">
                                <p>nice</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-next">
                                <p>next</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-n-expand">
                                <p>n-expand</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-n-collapse">
                                <p>n-collapse</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-minus">
                                <p>minus</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-lock">
                                <p>lock</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-location">
                                <p>location</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-lock">
                                <p>lock</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-location">
                                <p>location</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-listview">
                                <p>listview</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-import">
                                <p>import</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-home">
                                <p>home</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-graph">
                                <p>graph</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-filter">
                                <p>filter</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-feedback">
                                <p>feedback</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-faq">
                                <p>faq</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-excellent">
                                <p>excellent</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-belowaverage">
                                <p>belowaverage</p>
                            </div>
                            <div class="box">
                                <span class="icon-outline-average">
                                <p>average</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>