<div class="bb-colors pb-0">
    <div class="container-xxl bd-gutter">
        <div class="row">
            <div class="col-sm-12 landing-head">
                <h1>Colors Palette</h1>
                <p class="mt-4 mb-0">Our color palette is a selection of colors that work together to create consistency in the way we use colors in products.</p>
            </div>
        </div>
    </div>
    <div class="comp-box-sec">

   
        <div class="container-xxl bd-gutter">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="color-heading">1. Primary Color</div>
                    <div class="color-inner">
                        <div class="color-subheading">Purple</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-purple-900 text-white"></div>
                                <p>purple-900</p>
                                <p>#411482</p>
                                <p>51, 22, 135</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-800 text-white"></div>
                                <p>purple-800</p>
                                <p>#4C189E</p>
                                <p>76, 24, 158</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-700 text-white"></div>
                                <p>purple-700</p>
                                <p>#5F1EBE</p>
                                <p>95, 30, 190</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-600 text-white"></div>
                                <p>purple-600</p>
                                <p>#6B35D3</p>
                                <p>107, 53, 211</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-500 text-white"></div>
                                <p>purple-500</p>
                                <p>#7647DD</p>
                                <p>118, 71, 221</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-400 text-white"></div>
                                <p>purple-400</p>
                                <p>#8258E8</p>
                                <p>130, 88, 232</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-300 text-black"></div>
                                <p>purple-300</p>
                                <p>#8C69F0</p>
                                <p>140, 105, 240</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-200 text-black"></div>
                                <p>purple-200</p>
                                <p>#A98EF4</p>
                                <p>168, 142, 242</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-100 text-black"></div>
                                <p>purple-100</p>
                                <p>#C5B4F7</p>
                                <p>197, 180, 247</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-purple-000 text-black"></div>
                                <p>purple-000</p>
                                <p>#E2D9FB</p>
                                <p>226, 217, 251</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Blue</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-blue-900 text-white"></div>
                                <p>blue-900</p>
                                <p>#0049B2</p>
                                <p>00, 73, 178<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-800 text-white"></div>
                                <p>blue-800</p>
                                <p>#0F5FDC</p>
                                <p>15, 95, 220<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-700 text-white"></div>
                                <p>blue-700</p>
                                <p>#2874F0</p>
                                <p>40, 116, 240<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-600 text-white"></div>
                                <p>blue-600</p>
                                <p>#3282FA</p>
                                <p>50, 130, 250</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-500 text-white"></div>
                                <p>blue-500</p>
                                <p>#3C91FF</p>
                                <p>60, 145, 255</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-400 text-white"></div>
                                <p>blue-400</p>
                                <p>#4B9EF9</p>
                                <p>72, 158, 249</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-300 text-black"></div>
                                <p>blue-300</p>
                                <p>#6EB8F9</p>
                                <p>138, 201, 255</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-200 text-black"></div>
                                <p>blue-200</p>
                                <p>#8CC8FA</p>
                                <p>140, 200, 250</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-100 text-black"></div>
                                <p>blue-100</p>
                                <p>#B4DBFC</p>
                                <p>180, 219, 252</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-blue-000 text-black"></div>
                                <p>blue-000</p>
                                <p>#D7ECFD</p>
                                <p>215, 236, 253</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-0">
                    <div class="color-heading">2. Secondary Color</div>
                    <div class="color-inner">
                        <div class="color-subheading">Teal</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-teal-900 text-white"></div>
                                <p>teal-900</p>
                                <p>#006059</p>
                                <p>0, 96, 89</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-800 text-white"></div>
                                <p>teal-800</p>
                                <p>#007873</p>
                                <p>0, 120, 115</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-700 text-white"></div>
                                <p>teal-700</p>
                                <p>#198E88</p>
                                <p>25, 142, 136</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-600 text-black"></div>
                                <p>teal-600</p>
                                <p>#2BA096</p>
                                <p>43, 160, 150</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-500 text-black"></div>
                                <p>teal-500</p>
                                <p>#33AFA0</p>
                                <p>51, 175, 160</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-400 text-black"></div>
                                <p>teal-400</p>
                                <p>#4BC3AF</p>
                                <p>75, 195, 175</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-300 text-black"></div>
                                <p>teal-300</p>
                                <p>#8C69F0</p>
                                <p>111, 207, 191</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-200 text-black"></div>
                                <p>teal-200</p>
                                <p>#8ADBCF</p>
                                <p>138, 219, 207</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-100 text-black"></div>
                                <p>teal-100</p>
                                <p>#A5E6DC</p>
                                <p>165, 230, 220</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-teal-000 text-black"></div>
                                <p>teal-000</p>
                                <p>#D2F2ED</p>
                                <p>210, 242, 237</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Green</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-green-900 text-white"></div>
                                <p>green-900</p>
                                <p>#077251</p>
                                <p>7, 114, 81</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-800 text-white"></div>
                                <p>green-800</p>
                                <p>#007873</p>
                                <p>10, 135, 93</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-700 text-black"></div>
                                <p>green-700</p>
                                <p>#0FA069</p>
                                <p>15, 160, 105<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-600 text-black"></div>
                                <p>green-600</p>
                                <p>#2DB26C</p>
                                <p>45, 178, 108</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-500 text-black"></div>
                                <p>green-500</p>
                                <p>#49C173</p>
                                <p>73, 193, 115</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-400 text-black"></div>
                                <p>green-400</p>
                                <p>#62D16B</p>
                                <p>98, 209, 107</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-300 text-black"></div>
                                <p>green-300</p>
                                <p>#82DC73</p>
                                <p>130, 220, 115</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-200 text-black"></div>
                                <p>green-200</p>
                                <p>#A1E596</p>
                                <p>161, 229, 150</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-100 text-black"></div>
                                <p>green-100</p>
                                <p>#BEEBB4</p>
                                <p>190, 235, 180</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-green-000 text-black"></div>
                                <p>green-000</p>
                                <p>#DEF5D9</p>
                                <p>222, 245, 217</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Yellow</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-yellow-900 text-white"></div>
                                <p>yellow-900</p>
                                <p>#AD6F0B</p>
                                <p>173, 111, 11</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-800 text-white"></div>
                                <p>yellow-800</p>
                                <p>#C8870A</p>
                                <p>200, 135, 10<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-700 text-black"></div>
                                <p>yellow-700</p>
                                <p>#D8991D</p>
                                <p>216, 153, 29</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-600 text-black"></div>
                                <p>yellow-600</p>
                                <p>#E2AB30</p>
                                <p>226, 171, 48</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-500 text-black"></div>
                                <p>yellow-500</p>
                                <p>#F2BB33</p>
                                <p>242, 187, 51</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-400 text-black"></div>
                                <p>yellow-400</p>
                                <p>#FFCD41</p>
                                <p>255, 205, 65</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-300 text-black"></div>
                                <p>yellow-300</p>
                                <p>#FFD970</p>
                                <p>255, 215, 112</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-200 text-black"></div>
                                <p>yellow-200</p>
                                <p>#FFE18D</p>
                                <p>255, 225, 141</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-100 text-black"></div>
                                <p>yellow-100</p>
                                <p>#FFECC7</p>
                                <p>255, 236, 199</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-yellow-000 text-black"></div>
                                <p>yellow-000</p>
                                <p>#FFF2D9</p>
                                <p>255, 242, 217</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Coral</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-coral-900 text-white"></div>
                                <p>coral-900</p>
                                <p>#1F51</p>
                                <p>170, 31, 81</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-800 text-white"></div>
                                <p>coral-800</p>
                                <p>#C3325F</p>
                                <p>195, 50, 95<p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-700 text-black"></div>
                                <p>coral-700</p>
                                <p>#D64770</p>
                                <p>214, 71, 112</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-600 text-black"></div>
                                <p>coral-600</p>
                                <p>#ED5A88</p>
                                <p>237, 90, 136</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-500 text-black"></div>
                                <p>coral-500</p>
                                <p>#F7668F</p>
                                <p>247, 102, 143</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-400 text-black"></div>
                                <p>coral-400</p>
                                <p>#FF789B</p>
                                <p>255, 120, 155</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-300 text-black"></div>
                                <p>coral-300</p>
                                <p>#FF94B5</p>
                                <p>255, 148, 181</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-400 text-black"></div>
                                <p>coral-400</p>
                                <p>#FFAECB</p>
                                <p>255, 173, 203</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-100 text-black"></div>
                                <p>coral-100</p>
                                <p>#FFBED7</p>
                                <p>255, 190, 215</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-coral-000 text-black"></div>
                                <p>coral-000</p>
                                <p>#F7668F</p>
                                <p>247, 102, 143</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-0">
                    <div class="color-heading">3. Tertiary Color</div>
                    <div class="color-inner">
                        <div class="color-subheading">Bronze</div>
                        <div class="color-sec">
                            <div class="box">
                                <div class="color-radius ds-bronze-900 text-white"></div>
                                <p>bronze-900</p>
                                <p>#006059</p>
                                <p>0, 96, 89</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-800 text-white"></div>
                                <p>bronze-800</p>
                                <p>#007873</p>
                                <p>0, 120, 115</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-700 text-white"></div>
                                <p>bronze-700</p>
                                <p>#198E88</p>
                                <p>25, 142, 136</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-600 text-black"></div>
                                <p>bronze-600</p>
                                <p>#2BA096</p>
                                <p>43, 160, 150</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-500 text-black"></div>
                                <p>bronze-500</p>
                                <p>#33AFA0</p>
                                <p>51, 175, 160</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-400 text-black"></div>
                                <p>bronze-400</p>
                                <p>#4BC3AF</p>
                                <p>75, 195, 175</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-300 text-black"></div>
                                <p>bronze-300</p>
                                <p>#8C69F0</p>
                                <p>111, 207, 191</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-200 text-black"></div>
                                <p>bronze-200</p>
                                <p>#8ADBCF</p>
                                <p>138, 219, 207</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-100 text-black"></div>
                                <p>bronze-100</p>
                                <p>#A5E6DC</p>
                                <p>165, 230, 220</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-bronze-000 text-black"></div>
                                <p>bronze-000</p>
                                <p>#D2F2ED</p>
                                <p>210, 242, 237</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Neutral</div>
                        <div class="color-sec row-five justify-content-start">
                            <div class="box">
                                <div class="color-radius ds-neutral-800 text-white"></div>
                                <p>neutral-800</p>
                                <p>#14142B</p>
                                <p>20, 20, 43</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-700 text-white"></div>
                                <p>neutral-700</p>
                                <p>#262338</p>
                                <p>38, 35, 56</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-600 text-white"></div>
                                <p>neutral-600</p>
                                <p>#4E4B66</p>
                                <p>78, 75, 102</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-500 text-white"></div>
                                <p>neutral-500</p>
                                <p>#6E7191</p>
                                <p>110, 113, 145</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-400 text-black"></div>
                                <p>neutral-400</p>
                                <p>#A0A3BD</p>
                                <p>160, 163, 189</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-300 text-black"></div>
                                <p>neutral-300</p>
                                <p>#D9DBE9</p>
                                <p>217, 219, 233</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-200 text-black"></div>
                                <p>neutral-200</p>
                                <p>#EFF0F7</p>
                                <p>239, 240, 247</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-100 text-black white-box-outline"></div>
                                <p>neutral-100</p>
                                <p>#F7F7FC</p>
                                <p>247, 247, 252</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-neutral-000 text-black white-box-outline"></div>
                                <p>neutral-000</p>
                                <p>#FCFCFC</p>
                                <p>252, 252, 252</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">Grey</div>
                        <div class="color-sec row-five">
                            <div class="box">
                                <div class="color-radius ds-grey-1200 text-white"></div>
                                <p>grey-1200</p>
                                <p>#006059</p>
                                <p>0, 96, 89</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-1000 text-white"></div>
                                <p>grey-1000</p>
                                <p>#006059</p>
                                <p>0, 96, 89</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-900 text-white"></div>
                                <p>grey-900</p>
                                <p>#006059</p>
                                <p>0, 96, 89</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-800 text-white"></div>
                                <p>grey-800</p>
                                <p>#007873</p>
                                <p>0, 120, 115</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-700 text-white"></div>
                                <p>grey-700</p>
                                <p>#198E88</p>
                                <p>25, 142, 136</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-600 text-black"></div>
                                <p>grey-600</p>
                                <p>#2BA096</p>
                                <p>43, 160, 150</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-500 text-black"></div>
                                <p>grey-500</p>
                                <p>#33AFA0</p>
                                <p>51, 175, 160</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-400 text-black"></div>
                                <p>grey-400</p>
                                <p>#4BC3AF</p>
                                <p>75, 195, 175</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-300 text-black"></div>
                                <p>grey-300</p>
                                <p>#8C69F0</p>
                                <p>111, 207, 191</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-200 text-black"></div>
                                <p>grey-200</p>
                                <p>#8ADBCF</p>
                                <p>138, 219, 207</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-100 text-black"></div>
                                <p>grey-100</p>
                                <p>#A5E6DC</p>
                                <p>165, 230, 220</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-grey-000 text-black"></div>
                                <p>grey-000</p>
                                <p>#D2F2ED</p>
                                <p>210, 242, 237</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-sec row-five justify-content-start">
                            <div class="box">
                                <div class="color-subheading">Black</div>
                                <div class="color-radius ds-black-900 text-white"></div>
                                <p>black-900</p>
                                <p>#000000</p>
                                <p>000, 000, 000</p>
                            </div>
                            <div class="box">
                                <div class="color-subheading">White</div>
                                <div class="color-radius ds-white-900 text-black white-box-outline"></div>
                                <p>white-900</p>
                                <p>#ffffff</p>
                                <p>255, 255, 255</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-inner">
                        <div class="color-subheading">RAG Color</div>
                        <div class="color-sec row-five justify-content-start">
                            <div class="box">
                                <div class="color-radius ds-RAG-red text-white"></div>
                                <p>RAG-red</p>
                                <p>#AA1F51</p>
                                <p>170, 31, 81</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-RAG-amber text-white"></div>
                                <p>RAG-amber</p>
                                <p>#C8870A</p>
                                <p>200, 135, 10</p>
                            </div>
                            <div class="box">
                                <div class="color-radius ds-RAG-green text-white"></div>
                                <p>RAG-green</p>
                                <p>#0A875D</p>
                                <p>10, 135, 93</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>