<div class="bb-component pb-0">
    <div class="container-xxl bd-gutter">
        <div class="row">
            <div class="col-sm-12 landing-head">
                <h1>Template</h1>
                <p class="mt-4 mb-0">Components are the reusable building blocks of our design system. Each component meets a specific interaction or UI need, and has been specifically created to work together to create patterns and intuitive user experiences.</p>
            </div>
        </div>
    </div>
    <div class="comp-box-sec">

   
        <div class="container-xxl bd-gutter">
            <div class="row">
                <div style="height: calc(100vh - 460px);display: flex; padding: 40px 0; align-items: center;">
                    <div class="w-30">
                        <h6 class="font-500 mb-12" style="font-size: 20px;">Get your template from here</h6>
                        <div>
                            <!--  Template <br> -->
                            <a class="text-decoration-none btn btn-primary btn-ripple ds-btn-primary mt-0" href="/docs/{{ .Site.Params.docs_version }}/assets/brand/custom/template.zip" download="">Download Now</a> 
                        </div>
                        <div class="d-none">
                            Basic Template <br>
                            <a class="text-decoration-none btn btn-primary btn-ripple ds-btn-primary mt-0" href="/docs/{{ .Site.Params.docs_version }}/assets/brand/custom/basic-template.zip" download="">Download Now</a> 
                        </div>
                        <br>
                        <div class="d-none">
                            Advance Template <br>
                            <a class="text-decoration-none btn btn-primary btn-ripple ds-btn-primary mt-6" href="/docs/{{ .Site.Params.docs_version }}/assets/brand/custom/advance-template.zip" download="">Download now</a> 
                        </div>
                    </div>
                    <div class="w-70">
                        <img style="width: 100%;" src="/docs/{{ .Site.Params.docs_version }}/assets/brand/custom/template.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>