<div class="bb-component pb-0" style="
min-height: calc(100vh - 90px);
">
    <div class="container-xxl bd-gutter">
        <div class="row">
            <div class="col-sm-12 landing-head">
                <h1>Coming Soon...</h1>
                <!-- <p class="mt-4 mb-0">Components are the reusable building blocks of our design system. Each component meets a specific interaction or UI need, and has been specifically created to work together to create patterns and intuitive user experiences.</p> -->
            </div>
        </div>
    </div>
    <!-- <div class="comp-box-sec">

   
    </div> -->
</div>