/*offcanvas*/
.offcanvas {
    &.offcanvas{
        .offcanvas-body{
            padding-top: 0;
        }
        &.ds-offcanvas-sm {
            max-width: 310px;
            width: 100%;
        }
        &.ds-offcanvas-md {
            max-width: 384px;
            width: 100%;
            .offcanvas-title{
                font-size: 24px;
            }
            .offcanvas-body p{
                font-size: 16px;
            }
        }
        &.ds-offcanvas-lg {
            max-width: 512px;
            width: 100%;
            .offcanvas-title{
                font-size: 28px;
            }
            .offcanvas-body p{
                font-size: 16px;
            }
        }
        .offcanvas-title{
            color: $black;
            font-size: 16px;
            font-family: $font-700;
            line-height: normal;
        }
        .offcanvas-header {
            .btn-close{
                font-size: 12px;
            }
        }
        .offcanvas-body p{
            margin: 0;
            font-size: 14px;
            color: #475156;
            font-family: $font-400;
            line-height: 22px;
        }
    }
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 12px;
}
.offcanvas-body{
    padding: 24px;
}
.offcanvas-footer {
    padding: 24px;
}

/*offcanvas*/