/* ============= Tabs ============= */

.primary-tab{
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
} 
.primary-tab .nav-item{
    margin-right: 16px;
}
.primary-tab .nav-link{
    color: $ds-neutral-800;
    padding-right: 0;
    padding-left: 0;
}

.primary-tab.nav-tabs .nav-link.active, .primary-tab.nav-tabs .nav-item.show .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: transparent;
    color: $primary-color;
    font-family: $font-700;
}

.primary-tab.nav-tabs .nav-link:hover, .primary-tab.nav-tabs .nav-link:focus {
    border-color: transparent
} 
.primary-tab.nav-tabs .nav-link.disabled, .primary-tab.nav-tabs .nav-link:disabled {
    cursor: not-allowed;
}

.nav-item:first-child.active ~ .tabs-slider {
    transform: translateX(0) scaleX(0.1);
}

.nav-item:nth-child(2).active ~ .tabs-slider {
    transform: translateX(70px) scaleX(0.1);
}

.nav-item:nth-child(3).active ~ .tabs-slider {
    transform: translateX(calc(70px * 2)) scaleX(0.1);
}

.tabs-slider {
position: absolute;
bottom: 0;
left: 0;
width: 700px;
height: 2px;
background-color: $primary-color;
transform-origin: 0 0;
transition: transform .25s;
}


.tabs-block{
    background-color: #F8F8F8;
    padding: 0;
}
.secondry-tabs{
    border-bottom: 0;
}
.secondry-tabs.nav-tabs .nav-link.active, .secondry-tabs.nav-tabs .nav-item.show .nav-link {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: transparent;
}
.secondry-tabs.nav-tabs .nav-link:hover, .secondry-tabs.nav-tabs .nav-link:focus {
    border-color: transparent
}
.secondry-tabs.nav-tabs .nav-link {
    color: $ds-neutral-400;
    padding: 14px 24px;
}
.secondry-tabs.nav-tabs .nav-link.active, .secondry-tabs.nav-tabs .nav-item.show .nav-link{
    color: $ds-neutral-800;
    font-family: $font-700;
}
.contant-block{
    background-color: #FFFFFF;
    padding: 1rem;
}

// tab border sider
.tabslider .nav-tabs
{
  position:relative;
  background-color:#fff;
}
.tabslider .slider
{
  display:inline-block;
  width:30px;
  height:3px;
  border-radius:3px;
  background-color:$primary-color;
  position:absolute;
  z-index:1;
  bottom:0;
  transition:all .3s linear;
  
}