$color_1: $ds-purple-500;
$color_2: $primary-color;
$color_3: $black;
$color_4: $white;

/* Breadcrumb */

.breadcrumb {
	padding: 16px;
	margin-bottom: 16px;
	font-size: 14px;
	a {
		&:hover {
			text-decoration: underline;
			color: $color_1;
			transition: all 0.5s ease 0s;
		}
	}
	i {
		font-size: 16px;
	}
}
.breadcrumb-item {
	&:first-child {
		a {
			text-decoration: none;
		}
	}
}
.trans-Breadcrumb {
	.breadcrumb {
		background: transparent;
		
	}
	a {
		color: $color_2;
	}
	.active {
		color: $color_3;
		font-weight: bold;
	}
	.breadcrumb-item+.breadcrumb-item {
		&::before {
			color: $color_2;
		}
	}
}
/* gray_Breadcrumb */

.gray_Breadcrumb {
	.breadcrumb {
		background: #F8F8F8;
	}
	a {
		color: $color_2;
	}
	.active {
		color: $color_3;
		font-weight: bold;
	}
	.breadcrumb-item+.breadcrumb-item {
		&::before {
			color: $color_2;
		}
	}
}
/* white_Breadcrumb */

.white_Breadcrumb {
	.breadcrumb {
		background: #FFF;
	}
	a {
		color: $color_2;
	}
	.active {
		color: $color_3;
		font-weight: bold;
	}
	.breadcrumb-item+.breadcrumb-item {
		&::before {
			color: $color_2;
		}
	}
}
/* blue_Breadcrumb */
.blue_Breadcrumb {
	.breadcrumb {
		background: $ds-purple-700;
	}
	a {
		color: $color_4;
		&:hover {
			color: $color_4;
		}
	}
	.active {
		color: $color_4;
		font-weight: bold;
	}
	.breadcrumb-item {
		+ {
			.breadcrumb-item {
				&::before {
					color: $color_4;
				}
			}
		}
	}
}
