.ds-list-group{
    border-radius: 5px;
    .list-group-item{
        font-size: 16px;
        font-family: $font-500;    
        border-color: #CED4DA;
        &:hover{
            background-color: #F8F9FA;
            cursor: pointer;
        }
        &.active{
            background-color: $ds-purple-100;
            color: #000;
            border-color: $ds-purple-500;
        }
        .form-check-input:checked {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}