.with-content{
    .carousel-item{
        min-height: 400px;
        background-color: #CCCCCC;
        .carousel-caption{
            color: #fff;
            text-align: left;
            top: 20%;
            left: 80px;
            max-width: 300px;
            h5{
                font-size: 51px;
                font-family: $font-500;
                color: #333A3D;
                font-weight: normal;
                margin: 0;
            }
            p{
                font-size: 14px;
                font-family: $font-400;
                color: #333A3D;
                margin-bottom: 24px;
                margin-top: 8px;
            }
        }
    }
}

.carousel-btn{
    background-color: #fff;
    border: 1px solid #D9DBE9;
    color: #000;
    border-radius: 2px;
    &:hover{
        background-color: $theme-color;
    }
}

.carousel-control-prev, .carousel-control-next{
    width: 25px;
    margin: 24px;
}