/*toast*/
.ds-toast{
    box-shadow: none;
    border-radius: 0.313rem;
    width: 480px;

    .toast-body {
        font-family: $font-500;
        line-height: normal;
        // --bs-toast-padding-x: 0.75rem;
        padding: 12px 1rem;
        display: flex;
        align-items: center;
        .ds-tost-icon{
            width: 16px;
            height: 16px;
            border-radius: 2px;
            margin-right: 0.625rem;
            
            position: relative;
            &::before{
                content: '\e9f6';
                position: absolute;
                transform: rotate(45deg);
                font-size: 14px;
            }
            &.icon-bg-purple{
                border:  1px solid #5E1EBE;
            }
            &.icon-bg-blue{
                border:  1px solid #0F5FDC;
            }
            &.icon-bg-success{
                border:  1px solid #077251;
            }
            &.icon-bg-danger{
                border:  1px solid #B71C1C;
            }
            &.icon-bg-warning{
                border:  1px solid #AD6F0B;
            }
            &.icon-bg-info{
                border:  1px solid #198E88;
            }
            &.icon-bg-Light{
                border:  1px solid #000;
            }
            &.icon-bg-Dark{
                border:  1px solid #fff;
            }
        }
        .toast-content{
            display: flex;
            flex-direction: column;
            & h5{
                font-family: "HCLTech Roobert SemiBold";
                font-size: 1rem;
                line-height: 24px;
                margin: 0;
            }
        }
        
    }
   
    
    &.text-bg-blue {
        background-color: #D7ECFD !important;
        color: #0F5FDC;
    }
    &.toast.text-bg-warning {
        background-color:#FFECB4 !important;
        color: #AD6F0B !important;
    }
    &.toast.text-bg-purple {
        background-color: $ds-purple-000 !important;
        color: #341688;
    }
    &.toast.text-bg-info {
        background-color: #D1F1F3 !important;
        color: #198E88 !important;
    }
    &.toast.text-bg-Success {
        background-color:#DFF1E0 !important;
        color: #077251;
    }
    &.toast.text-bg-Light {
        background-color: #fff !important;
        color: #000000 !important;
    }
    &.toast.text-bg-danger {
        background-color: #FDDDDA !important;
        color: #B71C1C !important;
    }
    &.toast.text-bg-Dark {
        background-color:#222222 !important; 
        color: #fff !important;
        .btn-close{
            filter: invert(1);
        }
    }
    .ds-btn-toast{
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 12px;
        background: #fff;
        &.btn-purple{
            border-color: #5F1EBE;
            color: #5F1EBE;
            &:hover{
                background-color: #7647DD;
                border-color: #7647DD;
                color: #fff;
            } 
        }
        &.btn-blue{
            border-color: #0F5FDC;
            color: #0F5FDC;
            &:hover{
                background-color: #0F5FDC;
                border-color: #0F5FDC;
                color: #fff;
            }
        }
        &.btn-Success{
            border-color: #077251;
            color: #077251;
            &:hover{
                background-color:#077251;
                border-color: #077251;
                color: #fff;
            }
        }
        &.btn-danger{
            border-color: #B71C1C;
            color: #B71C1C;
            &:hover{
                background-color: #B71C1C;
                border-color: #B71C1C;
                color: #fff;
            } 
        }
        &.btn-amber{
            border-color: #AD6F0B;
            color: #AD6F0B;
            &:hover{
                background-color: #AD6F0B;
                border-color: #AD6F0B;
                color: #fff;
            }
        }
        &.btn-info{
            border-color: #198E88;
            color: #198E88;
            &:hover{
                background-color: #198E88;
                border-color: #198E88;
                color: #fff;
            }
        }
        &.btn-Light{
            border-color: #222222;
            color: #222222;
            &:hover{
                background-color: #222222;
                border-color: #222222;
                color: #fff;
            }
        }
        &.btn-dark{
            border-color: #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
            &:hover{
                background-color: #FFFFFF;
                border-color: #FFFFFF;
                color: #222222;
            }
        }
        &:hover{
            background-color: #5F1EBE;
            border-color: #5F1EBE;
            color: #fff;
        }  
    }
}