.ds-pagination{
    .pagination{
        .page-item{
            .page-link{
                color: $ds-purple-700;
                font-size: 14px;
                text-align: center;
                min-width: 40px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: $font-500;
            }
            &.active{
                .page-link{
                    background: $ds-purple-000 !important;
                    color: $ds-purple-700 !important;
                    border-color: $ds-purple-700;
                }
            }
            &.disabled{
                .page-link{
                    background: #fff !important;
                    color: #000000 !important;
                }
            }
        }
        
    }   
    &.without-loader{
        
    }
    &.with-loader{
        display: flex;
        align-items: center;
        .form-select{
            width: auto;
            margin-right: 18px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-color: #dee2e6;
            border-radius: 6px;
            font-size: 14px;
        }
        .pagination{
            .page-item{
                .page-link{
                    color: $ds-purple-700;
                    font-size: 14px;
                    text-align: center;
                    padding-top: 3px;
                    min-width: 32px;
                    padding-bottom: 3px;
                    font-family: $font-500;
                }
                &.active{
                    .page-link{
                        background: $ds-purple-000 !important;
                        color: $ds-purple-700 !important;
                        border-color: $ds-purple-700;
                    }
                }
            }
        }
    }
    &.medium-pagination{
        .form-select {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
        }
        .pagination{
            .page-item{
                .page-link{
                    color:#000;
                    font-size: 16px;
                    text-align: center;
                    min-width: 45px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
            }
        }
    }
}